/*
!/api/
!/bin/
!/src/
!/types/
!/.eslintignore
!/.eslintrc.js
!/.gitignore
!/.npmignore
!/.prettierrc
!/lingq-api.yaml
!/openapitools.json
!/package.json
!/package-lock.json
!/README.md
!/tsconfig.json
!/build-api.js
